<main class="main-container">

    <header>
        <div class="header-title"><h1>SCRAPOOGLE</h1></div>
        <div class="header-sub">The Scrappy News Scraper</div>
        <div class="update-button-section">
            <input type="button" class="button" value="Update" id="update-button">
        </div>
    </header>

    <section><h2>{{newArticleCount}} new articles!</h2></section>

    <section>
        {{>articles/articles-block}}
    </section>

</main>