<main class="main-container">

    <nav>
        <div class="nav-buttons">
            <ul>
                <li id="new-page">New Articles</li>
                <li id="saved-page">Saved Articles</li>
            </ul>
        </div>
    </nav>

    <header>
        <div class="header-title"><h1>SCRAPOOGLE</h1></div>
        <div class="header-sub">The Scrappy News Scraper</div>
        <div class="update-button-section">
            <input type="button" class="button" value="Update" id="update-button">
        </div>
    </header>

    <summary class="article-count"><h2>{{newArticleCount}} new articles!</h2></summary>

    <section>
        {{>articles/new-articles-block}}
    </section>

</main>