<main class="main-container">

    <nav>
        <div class="nav-buttons">
            <ul>
                <li id="new-page">New Articles</li>
                <li id="saved-page">Saved Articles</li>
            </ul>
        </div>
    </nav>

    <header>
        <div class="header-title"><h1>SCRAPOOGLE</h1></div>
        <div class="header-sub">The Scrappy News Scraper</div>
    </header>

    <section>
        {{>articles/saved-articles-block}}
    </section>

</main>