 {{#each results}}

<div class="article-container">
    <div class="title-container">
        <a href="https://news.google.com/{{ link }}" target="_blank" article-id="{{ _id }}"><h3>{{ title }}</h3></a>
    </div>
</div>

{{/each}}