<div id="note-modal" class="modal">

    <div class="modal-content animate">

        <div class="note-container">
            <div class="note-id">
                <h2>Notes for: lsdfjlsdkfj</h2>
            </div>
            <div class="saved-notes-area">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, optio.
            </div>
            <div class="note-input">
                <textarea id="new-note-data"></textarea>
            </div>
            <div class="note-buttons-container">
                <div><button class="button" type="submit" id="note-post">Save Note</button></div>
                <div><button class="button" type="button" id="note-cancel">Cancel</button></div>
            </div>

        </div>

    </div>

</div>



