<div id="note-modal" class="modal">

    <div class="modal-content animate">

        <div class="note-container">
            <div class="note-id">
                <h2 id="note-article-title">Notes for: lsdfjlsdkfj</h2>
            </div>
            <div class="saved-notes-area">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, optio.
            </div>
            <div class="note-input">
                <input type="text" id="new-note-title"></input>
            </div>
            <div class="note-input">
                <textarea id="new-note-body"></textarea>
            </div>
            <div class="note-buttons-container">
                <div>
                    <button class="button" type="submit" id="note-post">Save Note</button>
                </div>
                <div>
                    <button class="button" type="button" id="note-cancel">Cancel</button>
                </div>
            </div>

        </div>

    </div>

</div>